# Analyzing Customer Behavior for E-commerce Insights.

## Business Understanding 

E-commerce businesses generate massive amounts of event data from customer sessions, product views, and purchases. Leveraging this data is critical for improving sales, strengthening engagement, and delivering personalized shopping experiences.
Npontu Technologies collects large volumes of e-commerce event data,however the company currently lacks a structured way to translate this raw data into meaningful insights.The business wants to raise revenue, improve engagement, and tailor offers.


### Problem Statement

The company lacks clear signals to find at-risk customers, high-value buyers, and product opportunities. This gap limits the company’s ability to raise revenue, improve customer engagement, and deliver personalized experiences that keep customers coming back.


### Business Objectives 
- Increase repeat purchase rate by identifying and re-engaging at-risk customers.

- Grow average order value by targeting high-potential buyers with offers.

- Improve conversion rate by optimizing product funnels and merchandising.

- Personalize marketing to reduce churn and raise lifetime value (LTV).

- Demonstrate a scalable pipeline (streaming or batch) to compute features in near real-time.


### Goal
By leveraging on the CRISP-DM framework I will transform raw event logs into customer profiles, predictive models, and interactive dashboards. Npontu Technologies can gain actionable insights that drive revenue growth, enhance customer loyalty, and support data-driven decision-making.



### Stakeholders

- Product Manager — decides promotions, product placements, UX changes.

- Growth/Marketing Team — runs campaigns and needs segments and uplift targets.

- Customer Success Team — acts on churn predictions and win-back flows.

- Data Engineering Team — builds ingestion and feature pipelines (Kafka, Spark).

- Data Science Team — builds models and explains them.

- Business Leadership — reviews ROI, revenue impact, and prioritizes initiatives.



### Key Features

The dataset contains the following key files:

1. customers.csv

- Contains customer-level information. Fields include customer_id, age, gender, location and signup_date

2. sessions.csv

- Captures details about customer browsing sessions. This includes session_id, customer_id, session_date, product_viewed, browsing_time_sec,purchase_made and purchase_amount.This helps track how customers interact with the platform over time.




### Key Features of the E-Commerce Insights

- Churn risk list with confidence scores and top drivers per customer.

- Customer segments (new, loyal, at-risk, high LTV) and recommended actions.

- Product funnel metrics: view → add to cart → purchase conversion by product.

- Time trends and seasonality: weekly/monthly demand peaks and campaign lift.

- Top revenue cohorts and product pairs for cross-sell suggestions.

- Dashboard for monitoring model performance and business KPIs.




### Key features to engineer (data features to create)

- RFM: recency (days since last purchase), frequency (# purchases), monetary (total spend).

- Session features: avg session duration, pages viewed, product views per session.

- Recency buckets and days_since_last_purchase (for churn label).

- Behavioral rates: add-to-cart rate, purchase_rate = purchases / sessions.

- Product interaction features: top categories viewed, favorite category, cross-view counts.

- Temporal features: hour_of_day, day_of_week, month, days_since_signup, season flags.

- Derived financials: avg_order_value, CLTV proxy (sum of orders over period), discount usage.




### Hypothesis

Customers with long recency (no recent purchase) and low session frequency are more likely to churn.



### 7 Analytical Questions

1. Which customers are likely to churn in the next 90 days?

- Use recency, frequency, monetary, session patterns, and recent activity as features.

2. Which actions move at-risk customers back to buying?

- Test offers, email cadence, and personalized product recommendations (A/B test).

3. Which product categories have the largest view → purchase leakage?

- Identify pages with high views but low purchases to target UX or pricing fixes.

4. Who are the top 5% highest-value customers and what early signals identify them?

- Build a short-term predictor to flag future high-value buyers within first 30 days.

5. What is the average order value (AOV) by customer cohort and how can it be increased?

- Segment by acquisition channel, signup month, and product interest.

6. Which product combinations or sequences suggest strong cross-sell opportunities?

- Use association rules or co-view / co-purchase analysis.

7. How does conversion and purchase behavior change over time (seasonality & campaign effects)?

- Attribute lifts to marketing and note when retraining models is necessary.

### Data Understanding & Preparation
Importing all the relevant libraries

In [1]:
# Core Python Utilities & Configurations

import os
import warnings
import logging
 
warnings.filterwarnings("ignore")
 
# Data Handling and Manipulation
import pandas as pd
import numpy as np
import scipy

# Big Data Processing
from kafka import KafkaConsumer, KafkaProducer  # or just import kafka if using differently
from pyspark.sql import SparkSession

# Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go


# Feature Engineering & Preprocessing

from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
 

# Anomaly Detection & Clustering

from sklearn.ensemble import IsolationForest
from sklearn.svm import OneClassSVM
from sklearn.cluster import DBSCAN
 

# Model Evaluation & Hyperparameter Tuning

from sklearn.metrics import accuracy_score, classification_report, ndcg_score
from sklearn.model_selection import GridSearchCV
 

# Performance & Progress Tracking

from tqdm import tqdm  
 

# Statistical and Scientific Computing
import statsmodels.api as sm

# Machine Learning & Recommendation Systems
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier  # example ML model
from sklearn.metrics import accuracy_score  # example metric

# Geographic Data & Mapping
import geopandas as gpd

# Dashboarding for Final Reporting
import dash
from dash import dcc, html

import dash_bootstrap_components as dbc


# Initialization & Status Confirmation

print("✅ Project initialized successfully! All necessary libraries are loaded.")

✅ Project initialized successfully! All necessary libraries are loaded.

### Load all datasets from their sources

In [2]:

# Path of customer csv file
file_path = '../Analyzing-Customer-Behavior-for-E-commerce-Insights/Data/customers.csv'

# Check if the file exists at the specified path
if os.path.exists(file_path):
    print("File exists at the specified path.")
    try:
        # Read the Excel file into a pandas DataFrame
        df_customers = pd.read_csv(file_path)
       
    except FileNotFoundError as e:
        print(f"FileNotFoundError: {e}")
    except Exception as e:
        print(f"An error occurred: {e}")
else:
    print("File does not exist at the specified path.")
 
# Display the DataFrame
df_customers.head()

File exists at the specified path.

  customer_id  age  gender location signup_date
0   CUST00001   56  Female    Ghana  2020-11-29
1   CUST00002   69    Male    India  2022-11-09
2   CUST00003   46  Female      NaN  2020-07-23
3   CUST00004   32    Male    India  2022-08-13
4   CUST00005   60  Female   Brazil  2020-12-20

In [3]:
# Path of session csv file
file_path = '../Analyzing-Customer-Behavior-for-E-commerce-Insights/Data/sessions.csv'

# Check if the file exists at the specified path
if os.path.exists(file_path):
    print("File exists at the specified path.")
    try:
        # Read the Excel file into a pandas DataFrame
        df_sessions = pd.read_csv(file_path)
       
    except FileNotFoundError as e:
        print(f"FileNotFoundError: {e}")
    except Exception as e:
        print(f"An error occurred: {e}")
else:
    print("File does not exist at the specified path.")
 
# Display the DataFrame
df_sessions.head()

File exists at the specified path.

,session_id,customer_id,session_date,product_viewed,browsing_time_sec,purchase_made,purchase_amount
0,SESS000001,CUST04899,2021-06-16,Laptop,743,0,0.0
1,SESS000002,CUST00246,2022-09-23,Laptop,247,0,0.0
2,SESS000003,CUST04945,2023-03-08,Laptop,201,0,0.0
3,SESS000004,CUST03372,2021-08-24,Phone,93,0,0.0
4,SESS000005,CUST01351,2023-07-11,Book,330,0,0.0

#### Concatenating the two data sets to form one. 
We will do a left join using the Customer Id. df_final is the combined data set of customers and sessions data

In [4]:
df_final = df_sessions.merge(df_customers, how='left', on='customer_id', suffixes=('_df_sessions','_df_customers'))

## Exploratory Data Analysis(EDA)

In [5]:
df_final.head()

,session_id,customer_id,session_date,product_viewed,browsing_time_sec,purchase_made,purchase_amount,age,gender,location,signup_date
0,SESS000001,CUST04899,2021-06-16,Laptop,743,0,0.0,31.0,Female,US,2020-04-25
1,SESS000002,CUST00246,2022-09-23,Laptop,247,0,0.0,34.0,Female,Brazil,2021-01-26
2,SESS000003,CUST04945,2023-03-08,Laptop,201,0,0.0,64.0,Male,India,2021-03-01
3,SESS000004,CUST03372,2021-08-24,Phone,93,0,0.0,52.0,Female,India,2022-01-28
4,SESS000005,CUST01351,2023-07-11,Book,330,0,0.0,57.0,Female,US,2021-04-06

In [6]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50100 entries, 0 to 50099
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   session_id         50100 non-null  object
 1   customer_id        49900 non-null  object
 2   session_date       50100 non-null  object
 3   product_viewed     49099 non-null  object
 4   browsing_time_sec  50100 non-null  int64
 5   purchase_made      50100 non-null  int64
 6   purchase_amount    50100 non-null  float64
 7   age                49900 non-null  float64
 8   gender             48983 non-null  object
 9   location           47542 non-null  object
 10  signup_date        49900 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 4.2+ MB

In [7]:
#Summary Statistics
df_final.describe()

       browsing_time_sec  purchase_made  purchase_amount           age
count       50100.000000   50100.000000     50100.000000  49900.000000
mean          300.831776       0.299521       300.315221     43.484549
std           298.183835       0.458053       557.318938     14.930561
min             0.000000       0.000000         0.000000     18.000000
25%            87.000000       0.000000         0.000000     31.000000
50%           210.000000       0.000000         0.000000     43.000000
75%           418.000000       1.000000       338.687500     56.000000
max          3316.000000       1.000000      1999.740000     69.000000

In [8]:
# Get the list of all column names in the DataFrame
columns = df_final.columns
 
# Print details of unique values for each column in the DataFrame
for column in columns:
    print(f'{column}')  
    print(f'There are {df_final[column].unique().size} unique values')  
    print(f'{df_final[column].unique()}')  
    print('_' * 80)

session_id
There are 50000 unique values
['SESS000001' 'SESS000002' 'SESS000003' ... 'SESS049998' 'SESS049999'
 'SESS050000']
________________________________________________________________________________
customer_id
There are 5001 unique values
['CUST04899' 'CUST00246' 'CUST04945' ... 'CUST01540' 'CUST01160'
 'CUST03565']
________________________________________________________________________________
session_date
There are 1000 unique values
['2021-06-16' '2022-09-23' '2023-03-08' '2021-08-24' '2023-07-11'
 '2022-02-02' '2021-11-16' '2023-03-26' '2022-06-16' '2021-01-07'
 '2022-12-23' '2022-04-03' '2021-08-26' '2023-05-12' '2022-03-27'
 '2023-06-15' '2021-04-24' '2022-05-07' '2021-11-05' '2022-03-25'
 '2021-06-07' '2023-04-14' '2022-02-03' '2022-10-01' '2021-07-22'
 '2023-01-06' '2022-08-05' '2022-03-30' '2023-05-10' '2021-04-30'
 '2023-08-11' '2022-10-27' '2022-06-19' '2022-10-14' '2023-08-02'
 '2022-09-16' '2022-10-12' '2023-07-02' '2021-06-29' '2022-10-04'
 '2022-12-01' '2022-05-27' '2022-05-08' '2022-08-16' '2022-12-14'
 '2023-08-01' '2021-11-23' '2022-02-01' '2022-08-09' '2023-03-01'
 '2022-09-30' '2022-10-30' '2021-07-02' '2023-08-04' '2021-04-16'
 '2023-06-11' '2022-05-13' '2021-11-30' '2022-10-21' '2022-01-09'
 '2021-01-01' '2022-04-20' '2022-03-28' '2021-07-03' '2021-03-29'
 '2023-06-29' '2022-12-05' '2022-04-30' '2022-08-22' '2022-08-04'
 '2021-12-06' '2023-07-07' '2022-09-14' '2023-05-22' '2021-06-21'
 '2022-01-13' '2021-06-26' '2022-09-03' '2021-02-05' '2022-03-29'
 '2021-08-13' '2023-05-06' '2023-07-19' '2021-10-20' '2022-04-18'
 '2021-09-10' '2021-02-20' '2021-06-02' '2023-05-04' '2023-01-19'
 '2021-09-18' '2022-10-10' '2023-02-05' '2023-04-01' '2021-04-15'
 '2022-01-02' '2021-10-10' '2021-11-13' '2022-04-28' '2023-04-13'
 '2021-03-25' '2022-12-12' '2021-02-14' '2022-01-22' '2021-07-08'
 '2022-05-05' '2021-02-19' '2023-03-27' '2021-07-20' '2021-06-24'
 '2021-05-22' '2021-10-02' '2023-09-14' '2021-07-09' '2021-05-14'
 '2023-06-22' '2022-09-05' '2023-05-08' '2023-02-20' '2023-05-19'
 '2023-03-25' '2022-06-29' '2022-09-20' '2021-04-07' '2021-02-10'
 '2021-11-25' '2022-12-20' '2023-08-23' '2022-05-16' '2022-06-25'
 '2022-01-08' '2022-05-26' '2023-02-14' '2021-04-05' '2022-11-25'
 '2022-04-27' '2021-01-11' '2022-07-08' '2022-04-12' '2023-02-12'
 '2022-04-16' '2022-03-07' '2022-05-29' '2021-02-12' '2021-01-04'
 '2021-12-03' '2022-01-10' '2022-03-23' '2022-07-25' '2021-01-30'
 '2023-06-17' '2023-04-22' '2021-08-08' '2021-05-08' '2021-06-20'
 '2023-05-14' '2021-10-01' '2022-02-12' '2022-11-08' '2022-12-10'
 '2023-04-07' '2022-02-11' '2021-07-15' '2021-06-18' '2023-03-30'
 '2021-12-10' '2022-08-02' '2023-01-20' '2023-08-19' '2021-07-21'
 '2022-09-13' '2021-08-06' '2023-08-09' '2021-03-17' '2021-11-17'
 '2021-01-02' '2022-06-07' '2022-08-11' '2021-04-02' '2022-09-01'
 '2021-06-19' '2023-02-10' '2023-03-20' '2021-11-01' '2022-08-18'
 '2021-03-23' '2021-12-14' '2021-08-11' '2023-05-29' '2021-02-07'
 '2022-03-18' '2021-05-13' '2022-07-27' '2021-07-24' '2023-07-24'
 '2021-01-28' '2021-07-04' '2021-05-10' '2021-03-11' '2022-07-03'
 '2021-08-05' '2023-06-07' '2022-08-31' '2021-09-06' '2022-11-26'
 '2023-01-10' '2023-09-17' '2022-04-17' '2021-12-04' '2022-01-20'
 '2021-01-03' '2022-08-06' '2022-08-20' '2023-01-21' '2022-11-19'
 '2023-03-16' '2022-10-05' '2022-05-22' '2022-11-20' '2022-03-16'
 '2022-12-30' '2021-09-03' '2021-12-19' '2021-09-26' '2023-06-14'
 '2021-06-30' '2023-03-29' '2023-09-20' '2022-04-22' '2022-02-07'
 '2022-10-28' '2021-02-26' '2022-02-26' '2023-06-24' '2021-02-15'
 '2021-03-27' '2023-01-17' '2022-01-23' '2023-08-25' '2023-06-12'
 '2022-08-17' '2021-06-27' '2023-04-18' '2021-04-03' '2023-06-20'
 '2022-12-11' '2021-06-11' '2021-08-14' '2021-07-12' '2021-05-26'
 '2021-09-11' '2023-03-06' '2022-06-06' '2022-05-02' '2022-03-21'
 '2023-06-05' '2022-02-10' '2023-06-25' '2021-11-11' '2023-06-08'
 '2021-04-01' '2022-01-31' '2021-03-04' '2021-01-15' '2023-01-24'
 '2023-08-17' '2022-12-06' '2023-05-23' '2021-08-04' '2023-02-13'
 '2023-01-03' '2021-10-21' '2022-06-11' '2021-11-24' '2021-09-15'
 '2023-04-23' '2023-07-01' '2022-08-23' '2022-03-03' '2021-01-24'
 '2021-08-29' '2023-09-25' '2021-04-12' '2021-10-08' '2022-03-01'
 '2022-09-21' '2023-05-26' '2021-10-26' '2021-01-17' '2023-08-13'
 '2022-06-23' '2022-07-02' '2021-09-28' '2021-08-16' '2021-03-10'
 '2022-07-19' '2021-08-25' '2021-07-16' '2021-04-17' '2021-06-09'
 '2021-08-27' '2022-01-04' '2021-05-06' '2021-06-06' '2023-03-28'
 '2022-04-13' '2023-06-03' '2022-12-21' '2022-12-16' '2021-11-12'
 '2023-03-07' '2021-12-08' '2021-06-04' '2023-09-04' '2021-05-16'
 '2022-04-01' '2022-10-25' '2021-02-01' '2023-05-09' '2022-01-14'
 '2023-08-22' '2022-02-28' '2021-04-06' '2021-11-09' '2021-04-28'
 '2023-08-10' '2021-04-27' '2021-08-12' '2021-09-05' '2021-11-15'
 '2023-08-05' '2023-09-02' '2022-10-11' '2023-01-12' '2022-07-07'
 '2022-07-06' '2023-02-23' '2023-02-03' '2021-01-25' '2021-05-18'
 '2023-07-15' '2021-01-09' '2023-03-19' '2022-07-23' '2021-10-29'
 '2021-07-23' '2022-10-19' '2022-09-15' '2022-01-26' '2021-02-24'
 '2021-05-27' '2022-06-28' '2021-03-28' '2022-11-03' '2021-03-13'
 '2022-06-18' '2022-06-01' '2021-01-12' '2021-01-27' '2023-06-26'
 '2021-02-21' '2021-03-15' '2022-03-31' '2022-07-21' '2021-12-02'
 '2022-11-02' '2022-08-26' '2023-04-12' '2021-04-14' '2023-03-04'
 '2021-03-09' '2022-11-14' '2021-05-23' '2023-06-28' '2023-01-07'
 '2021-06-22' '2023-08-21' '2021-01-29' '2023-09-16' '2022-07-09'
 '2021-04-21' '2023-05-31' '2022-02-25' '2021-04-29' '2023-02-18'
 '2023-05-25' '2021-09-04' '2023-04-11' '2021-01-22' '2021-11-22'
 '2021-07-11' '2022-08-25' '2022-10-08' '2021-12-18' '2023-03-22'
 '2022-02-08' '2022-09-29' '2023-05-17' '2022-12-03' '2021-11-19'
 '2021-08-15' '2023-08-28' '2023-05-18' '2022-04-23' '2022-02-19'
 '2023-04-16' '2022-10-26' '2021-06-03' '2023-03-17' '2021-05-02'
 '2021-07-01' '2022-03-02' '2023-09-24' '2022-06-20' '2022-11-11'
 '2021-04-13' '2021-09-21' '2021-08-19' '2022-09-19' '2022-12-29'
 '2022-05-15' '2023-08-31' '2023-05-13' '2023-06-09' '2023-07-14'
 '2023-03-21' '2022-04-21' '2021-11-26' '2023-05-16' '2023-06-27'
 '2021-05-05' '2022-01-30' '2021-04-22' '2023-04-27' '2023-04-29'
 '2022-08-12' '2021-09-22' '2022-03-19' '2021-08-01' '2023-02-24'
 '2022-09-02' '2023-09-13' '2021-05-03' '2022-06-21' '2023-05-30'
 '2022-07-04' '2021-07-14' '2021-09-27' '2023-02-17' '2021-03-07'
 '2021-07-18' '2021-07-28' '2021-09-23' '2021-12-21' '2023-08-16'
 '2021-06-25' '2021-02-16' '2022-07-26' '2022-10-09' '2023-04-25'
 '2022-09-25' '2022-07-12' '2021-12-05' '2022-12-07' '2022-12-27'
 '2022-10-29' '2023-04-30' '2022-01-03' '2023-04-04' '2023-02-28'
 '2022-04-19' '2022-10-22' '2023-03-31' '2022-06-09' '2023-08-24'
 '2022-05-11' '2022-08-13' '2023-01-27' '2023-07-22' '2023-02-22'
 '2022-12-25' '2022-11-09' '2022-02-18' '2021-05-31' '2021-02-13'
 '2021-09-14' '2023-09-01' '2023-04-10' '2021-07-27' '2022-01-29'
 '2021-04-18' '2022-05-23' '2023-08-08' '2022-08-01' '2021-08-21'
 '2023-01-25' '2021-09-24' '2022-05-31' '2022-08-14' '2022-12-31'
 '2023-01-18' '2022-04-29' '2021-03-20' '2021-08-30' '2021-10-03'
 '2023-04-21' '2023-03-23' '2023-09-27' '2022-06-27' '2023-09-15'
 '2021-11-27' '2023-06-01' '2021-06-23' '2023-04-02' '2022-05-25'
 '2022-08-24' '2021-05-17' '2021-03-30' '2021-10-23' '2021-12-07'
 '2021-11-14' '2021-02-04' '2022-01-21' '2021-12-01' '2022-01-07'
 '2021-06-17' '2023-09-03' '2022-06-17' '2023-01-14' '2022-06-22'
 '2021-12-31' '2021-07-19' '2022-11-16' '2021-02-09' '2021-09-29'
 '2023-08-18' '2021-05-01' '2022-03-10' '2022-02-20' '2021-10-13'
 '2023-09-06' '2023-08-20' '2022-02-09' '2022-05-03' '2021-04-10'
 '2023-08-12' '2023-01-15' '2022-05-24' '2022-06-12' '2021-09-20'
 '2021-01-23' '2022-10-15' '2022-07-18' '2021-10-12' '2022-07-16'
 '2021-10-25' '2022-12-08' '2021-08-10' '2022-06-05' '2022-05-30'
 '2022-04-04' '2022-11-01' '2023-02-21' '2023-05-15' '2023-06-13'
 '2021-03-24' '2023-02-25' '2021-05-21' '2023-09-05' '2023-07-23'
 '2023-04-15' '2023-07-20' '2021-10-28' '2021-06-01' '2022-12-17'
 '2023-02-09' '2023-05-28' '2023-02-26' '2021-08-02' '2023-03-03'
 '2021-03-21' '2021-04-11' '2021-12-24' '2021-03-05' '2022-06-08'
 '2022-09-27' '2021-04-19' '2021-07-06' '2023-09-12' '2021-07-25'
 '2023-06-02' '2021-04-09' '2022-05-20' '2021-08-22' '2022-02-27'
 '2023-07-16' '2022-03-17' '2022-02-15' '2022-02-17' '2021-04-23'
 '2022-10-06' '2022-05-28' '2023-02-04' '2021-07-07' '2021-02-25'
 '2022-06-14' '2022-07-24' '2021-06-12' '2023-07-29' '2021-08-07'
 '2021-10-11' '2021-05-19' '2022-05-19' '2021-12-22' '2023-04-24'
 '2023-08-03' '2021-08-20' '2023-07-04' '2022-06-03' '2021-10-15'
 '2023-03-02' '2021-11-02' '2023-07-10' '2021-01-06' '2022-04-26'
 '2022-12-04' '2023-09-11' '2021-09-17' '2022-06-02' '2021-02-28'
 '2023-01-31' '2023-07-27' '2022-11-06' '2023-01-09' '2021-10-19'
 '2022-11-27' '2023-08-30' '2022-11-29' '2021-10-09' '2022-01-24'
 '2023-07-18' '2021-11-29' '2022-09-11' '2022-02-16' '2023-09-18'
 '2021-02-17' '2021-11-18' '2023-01-04' '2022-05-12' '2022-05-10'
 '2022-11-07' '2023-06-16' '2022-05-17' '2022-02-22' '2022-07-17'
 '2022-02-24' '2022-12-28' '2021-06-10' '2021-03-08' '2022-07-01'
 '2021-10-05' '2023-07-28' '2022-12-15' '2021-09-08' '2023-01-01'
 '2022-01-28' '2021-05-04' '2021-03-12' '2022-11-28' '2023-09-21'
 '2021-03-01' '2022-11-05' '2021-05-12' '2023-05-24' '2022-10-23'
 '2023-01-08' '2021-12-09' '2021-03-06' '2022-04-05' '2022-06-24'
 '2023-07-17' '2022-11-10' '2022-01-27' '2022-04-11' '2021-06-08'
 '2023-06-30' '2023-08-14' '2022-07-05' '2022-09-06' '2023-04-28'
 '2023-07-06' '2021-04-20' '2023-02-15' '2022-04-10' '2023-04-26'
 '2023-07-05' '2022-10-13' '2023-06-19' '2022-10-07' '2021-08-23'
 '2023-03-18' '2021-05-24' '2022-08-07' '2022-06-30' '2022-07-29'
 '2022-06-13' '2021-10-17' '2021-09-13' '2021-12-27' '2021-10-07'
 '2021-01-05' '2023-01-29' '2022-05-09' '2021-06-13' '2022-08-21'
 '2022-12-02' '2022-01-12' '2021-02-22' '2022-08-03' '2022-05-21'
 '2021-11-21' '2021-07-13' '2023-08-26' '2022-07-13' '2022-10-16'
 '2022-08-27' '2021-01-13' '2021-10-04' '2022-03-15' '2023-03-05'
 '2022-03-11' '2023-01-26' '2021-09-01' '2023-04-20' '2022-09-24'
 '2021-01-14' '2021-05-15' '2023-03-13' '2021-05-07' '2023-07-25'
 '2022-09-04' '2021-05-20' '2021-08-17' '2022-03-26' '2022-07-11'
 '2023-03-10' '2023-07-30' '2021-06-05' '2022-07-31' '2022-10-17'
 '2021-12-26' '2023-01-13' '2021-01-20' '2021-12-12' '2021-10-22'
 '2021-12-11' '2021-09-07' '2022-12-26' '2021-10-16' '2022-11-24'
 '2022-09-10' '2022-11-22' '2022-10-24' '2023-04-19' '2021-01-31'
 '2022-08-29' '2021-04-08' '2021-12-16' '2023-01-28' '2021-01-18'
 '2021-08-18' '2022-07-10' '2023-08-15' '2021-12-13' '2023-01-23'
 '2021-01-10' '2023-05-27' '2022-10-20' '2023-09-19' '2022-07-22'
 '2022-09-26' '2023-01-16' '2022-01-11' '2023-06-04' '2021-07-30'
 '2021-11-07' '2023-05-11' '2022-03-04' '2023-02-06' '2023-05-03'
 '2023-03-24' '2021-10-18' '2021-04-25' '2023-02-01' '2022-07-15'
 '2021-09-30' '2022-01-17' '2021-08-09' '2022-05-18' '2021-11-03'
 '2023-09-10' '2021-03-02' '2023-03-11' '2021-08-28' '2021-05-30'
 '2021-03-03' '2022-03-05' '2022-02-21' '2021-07-10' '2022-04-02'
 '2023-03-15' '2021-05-28' '2023-05-02' '2022-07-28' '2022-09-18'
 '2021-07-17' '2022-06-15' '2022-05-04' '2021-07-05' '2023-07-13'
 '2021-03-18' '2021-09-02' '2023-09-23' '2021-07-31' '2023-07-31'
 '2021-01-08' '2022-09-08' '2021-10-06' '2022-10-02' '2022-08-28'
 '2022-10-03' '2022-05-06' '2021-02-02' '2022-01-06' '2022-12-18'
 '2022-05-14' '2023-07-21' '2021-01-26' '2023-09-07' '2023-03-14'
 '2022-01-01' '2023-02-27' '2022-04-07' '2021-12-29' '2021-09-19'
 '2023-06-10' '2023-04-06' '2021-09-25' '2023-06-23' '2023-09-22'
 '2021-12-17' '2023-06-18' '2023-02-07' '2021-06-28' '2022-03-20'
 '2022-01-25' '2023-01-02' '2021-02-18' '2021-02-03' '2022-08-19'
 '2021-11-10' '2021-05-29' '2021-07-26' '2021-06-15' '2022-02-14'
 '2023-02-16' '2022-01-19' '2022-02-06' '2023-07-08' '2023-09-08'
 '2023-05-05' '2023-04-05' '2021-05-25' '2022-11-30' '2022-10-18'
 '2021-11-04' '2022-12-24' '2022-11-12' '2023-03-12' '2022-07-30'
 '2022-02-13' '2022-07-20' '2021-11-08' '2022-09-12' '2021-10-27'
 '2023-08-29' '2023-07-09' '2023-08-27' '2023-06-06' '2023-01-05'
 '2022-07-14' '2022-04-09' '2023-04-09' '2022-05-01' '2021-06-14'
 '2022-02-04' '2023-02-08' '2022-02-05' '2023-06-21' '2021-01-19'
 '2021-03-31' '2022-02-23' '2022-03-14' '2022-11-04' '2023-09-26'
 '2022-06-04' '2021-12-20' '2023-04-03' '2023-04-17' '2021-02-11'
 '2021-09-12' '2022-11-23' '2021-01-21' '2021-12-25' '2021-10-14'
 '2023-05-01' '2022-11-21' '2021-05-09' '2021-04-04' '2023-01-22'
 '2022-06-26' '2023-07-26' '2021-03-26' '2021-11-20' '2022-12-22'
 '2022-11-15' '2021-03-16' '2022-01-05' '2023-03-09' '2023-05-21'
 '2022-03-06' '2022-12-19' '2023-07-12' '2022-03-12' '2022-08-08'
 '2021-08-03' '2022-03-24' '2023-02-19' '2022-04-24' '2021-12-15'
 '2023-01-11' '2023-09-09' '2022-09-07' '2021-11-28' '2021-07-29'
 '2022-03-08' '2022-08-30' '2023-02-02' '2022-08-10' '2022-09-17'
 '2022-01-15' '2021-03-14' '2022-04-25' '2022-03-22' '2021-12-30'
 '2022-10-31' '2022-06-10' '2022-03-09' '2021-02-06' '2022-11-17'
 '2022-01-16' '2021-04-26' '2023-08-07' '2021-11-06' '2021-12-23'
 '2023-02-11' '2021-02-27' '2021-02-23' '2021-03-22' '2022-12-13'
 '2022-09-28' '2022-04-14' '2021-10-30' '2022-04-06' '2021-12-28'
 '2022-09-22' '2022-04-08' '2021-03-19' '2022-01-18' '2022-09-09'
 '2021-05-11' '2022-12-09' '2022-11-18' '2021-10-24' '2022-08-15'
 '2023-04-08' '2021-02-08' '2021-01-16' '2022-04-15' '2021-10-31'
 '2021-08-31' '2022-11-13' '2023-05-07' '2023-05-20' '2023-08-06'
 '2023-01-30' '2022-03-13' '2021-09-16' '2023-07-03' '2021-09-09']
________________________________________________________________________________
product_viewed
There are 9 unique values
['Laptop' 'Phone' 'Book' 'Shoes' 'Bag' 'Headphones' 'Camera' nan 'Unknown']
________________________________________________________________________________
browsing_time_sec
There are 1687 unique values
[ 743  247  201 ... 1462 1329 1201]
________________________________________________________________________________
purchase_made
There are 2 unique values
[0 1]
________________________________________________________________________________
purchase_amount
There are 14436 unique values
[   0.   1727.02 1886.66 ... 1220.24 1064.93  924.19]
________________________________________________________________________________
age
There are 53 unique values
[31. 34. 64. 52. 57. 53. 44. 33. 26. 42. 37. 19. 40. 18. 47. 20. 59. 45.
 46. 65. 41. 68. 27. 66. 25. 51. 49. 38. 23. 60. 30. 22. 35. 24. 58. 50.
 63. 36. 39. 62. 56. 54. 32. 21. 43. 55. 61. 67. 28. 29. 69. 48. nan]
________________________________________________________________________________
gender
There are 4 unique values
['Female' 'Male' 'Other' nan]
________________________________________________________________________________
location
There are 7 unique values
['US' 'Brazil' 'India' nan 'Germany' 'UK' 'Ghana']
________________________________________________________________________________
signup_date
There are 1443 unique values
['2020-04-25' '2021-01-26' '2021-03-01' ... '2021-06-02' '2021-11-20'
 '2021-11-16']
________________________________________________________________________________

In [9]:
df_final.duplicated().sum()

np.int64(100)

In [10]:
# Check for duplicated rows
duplicated_rows = df_final.duplicated()

# Display the number of duplicated rows
print(f"Number of duplicated rows: {duplicated_rows.sum()}")

# Display duplicated rows
df_customers[duplicated_rows]

Number of duplicated rows: 100

Empty DataFrame
Columns: [customer_id, age, gender, location, signup_date]
Index: []

In [11]:
# Check for duplicated columns

# Transpose the DataFrame and check for duplicated columns
duplicated_columns = df_final.T.duplicated()

# Get the list of duplicated column names
duplicate_col_names = df_final.columns[duplicated_columns]

# Display the number and names of duplicated columns
print(f"Number of duplicated columns: {duplicated_columns.sum()}")
print(f"Duplicated columns: {list(duplicate_col_names)}")

# Optional: Drop duplicated columns if needed
# df_final = df_final.loc[:, ~duplicated_columns]

Number of duplicated columns: 0
Duplicated columns: []

In [12]:
# Check the datatype and the number of columns for customers data set 

df_final.info(verbose=False, memory_usage='deep')
 
missing_counts = df_final.isna().sum()
non_null_counts = df_final.notna().sum()
dtype_info = df_final.dtypes
 
df_finalinfo = pd.DataFrame({
    "Non-Null Count": non_null_counts,
    "Missing Count": missing_counts,
    "Missing Percentage": round((missing_counts / len(df_final)) * 100, 2),
    "Dtype": dtype_info
})
 
# Display results
df_finalinfo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50100 entries, 0 to 50099
Columns: 11 entries, session_id to signup_date
dtypes: float64(2), int64(2), object(7)
memory usage: 20.4 MB

                   Non-Null Count  Missing Count  Missing Percentage    Dtype
session_id                  50100              0                0.00   object
customer_id                 49900            200                0.40   object
session_date                50100              0                0.00   object
product_viewed              49099           1001                2.00   object
browsing_time_sec           50100              0                0.00    int64
purchase_made               50100              0                0.00    int64
purchase_amount             50100              0                0.00  float64
age                         49900            200                0.40  float64
gender                      48983           1117                2.23   object
location                    47542           2558                5.11   object
signup_date                 49900            200                0.40   object